<p>
  chore-create works!
</p>

<div class="row">
  <form (ngSubmit)="onSubmitCreate(choreForm)" #choreForm="ngForm">
    <div class="row">


      <div class="input-field col s12">
          <input autocomplete="off" id="title" type="text" class="validate" [ngClass]="{ 'is-invalid': apiError || title.errors && title.touched }"
            name="title" [(ngModel)]="chore.title" #title="ngModel" required>
          <label for="title">Title</label>
      </div>

      <div class="invalid-feedback" *ngIf="title.errors && title.touched && title.errors.required">
        Please chose a title.
      </div>

      <div class="input-field col s12">
        <input autocomplete="off" id="description" type="text" class="validate" [ngClass]="{ 'is-invalid': apiError || description.errors && description.touched }"
          name="description" [(ngModel)]="chore.description" #description="ngModel" >
        <label for="description">description</label>
    </div>

    <div class="input-field col s12">
      <input autocomplete="off" id="points" type="number" class="validate" [ngClass]="{ 'is-invalid': apiError || points.errors && points.touched }"
        name="points" [(ngModel)]="chore.points" #points="ngModel">
      <label for="points">Points</label>
  </div>

      <div class="invalid-feedback" *ngIf="apiError">
        {{ apiError.message }}
      </div>

      <button type="submit" class="waves-effect waves-light btn" [ngClass]="{ 'disabled' : !choreForm.valid }">Create Chore</button>

    </div>
  </form>
</div>
