

<div class="row">
    <form (ngSubmit)="onSubmitCreate(awardForm)" #awardForm="ngForm">
      <div class="row">
  
  
        <div class="input-field col s12">
            <input autocomplete="off" id="title" type="text" class="validate" [ngClass]="{ 'is-invalid': apiError || title.errors && title.touched }"
              name="title" [(ngModel)]="award.title" #title="ngModel" required>
            <label for="title">Title</label>
        </div>
  
        <div class="invalid-feedback" *ngIf="title.errors && title.touched && title.errors.required">
          Please chose a title.
        </div>
  
      <div class="input-field col s12">
        <input autocomplete="off" id="goal" type="number" class="validate" [ngClass]="{ 'is-invalid': apiError || goal.errors && goal.touched }"
          name="goal" [(ngModel)]="award.goal" #goal="ngModel">
        <label for="goal">Goal</label>
    </div>
  
        <div class="invalid-feedback" *ngIf="apiError">
          {{ apiError.message }}
        </div>
  
        <button type="submit" class="waves-effect waves-light btn" [ngClass]="{ 'disabled' : !awardForm.valid }">Create Award</button>
  
      </div>
    </form>
  </div>
